//
   Created by fkotobuki on 11/21/15.

.navbar.navbar-default.navbar-fixed-bottom.nav-bar
   .container.home-head
      .navbar-header#home-header
         ul.nav.navbar-nav
            li(class=title == 'Home' ? 'active' : undefined)
               a(href='#about') About
            li(class=title == 'Partners' ? 'active' : undefined)
               a(href='#partners') Partners
            li(class=title == 'BackToTop' ? 'active' : undefined)
               a(href='/') Back to Top