extends layout
block content
    br
    h4 Description:
    .col-xs-7
        p.
            Data Driven, Customer Focused
        p.
            You’ve got data. Lots of data. Human-, machine-, business- and interaction-generated data. And more of it becomes available every second of every day. But if you can’t find the customer and business insights within your data, it just remains untapped potential. That’s where we can help.
        p.
            At Teradata, we provide end-to-end solutions and services in data warehousing, big data and analytics , and marketing applications that enable you to become a data-driven business… one that’s positioned to increase revenue, improve efficiency, and create the most compelling experience for your customers.
        br
        p.
            After all, your business is about your customers.
        p.
            So is ours.
        p.
            See more at:
        a(href='http://www.teradata.com/about-us/?ICID=Awit&LangType=1033&LangSelect=true#sthash.Dx3SblS9.dpuf') Teradata
        br
        h5 Contact
        a(href='http://www.teradata.com/?LangType=1033&LangSelect=true') http://www.teradata.com/?LangType=1033&LangSelect=true
        h5 Positions Available
        ul
            li
                a(href='https://teradata.taleo.net/careersection/prof/jobdetail.ftl?job=164296') Accounting Manager
            li
                a(href='https://teradata.taleo.net/careersection/prof/jobdetail.ftl?job=163718') Campaign Managing System Manager
            li
                a(href='https://teradata.taleo.net/careersection/prof/jobdetail.ftl?job=164261') Cloud Ops Engineer
        h5(class='testimonials') Testimonials
            span(class='caret')
        p(class='testimonial').
            Our customers benefit from 30 years of expertise implementing thousands of data warehouses worldwide. They enjoy working with the largest and most experienced consulting staff in the business intelligence industry. Best of all, their front-line employees end up armed with up-to-the-minute detailed customer data that creates faster, better business decisions, enhances customer relationships and bolsters bottom-line profits
        h5 Keywords
        p Engineers, Computer Science, Data Analytics
    .col-xs-5
        img(class='img-responsive company-title' src='http://www.best-online-training.com/wp-content/uploads/2014/08/teradata-online-training.png')
        iframe(class='video' src='https://www.youtube.com/embed/xqhd61KAsO4')
  