extends layout


block content
  include partials/home-header
  .title
    .overlay
      h1 Refugee LinkedIn
      #chart_div

  .overlay#about
      h2 About Us
      p.
        bruinview for refugees (find jobs with employers who say they’ll hire refugees)
        -the opposite for employers - to find refugees to work for them
            -german site as example
            -interface for job providers and job seekers
            -input form - connect to db
            -sort by qualifications
            -link to fb, linkedin, something that establishes identity
  .overlay#partners
      h2 Partners

  p.lead
  hr




  script(type="text/javascript", src="https://www.google.com/jsapi")
  script.
    google.load('visualization', '1', { 'packages': ['map'] });
    google.setOnLoadCallback(drawMap);
    function drawMap() {
      var data = google.visualization.arrayToDataTable([
        ['Country', 'Population'],
        ['China', 'China: 1,363,800,000'],
        ['India', 'India: 1,242,620,000'],
        ['US', 'US: 317,842,000'],
        ['Indonesia', 'Indonesia: 247,424,598'],
        ['Brazil', 'Brazil: 201,032,714'],
        ['Pakistan', 'Pakistan: 186,134,000'],
        ['Nigeria', 'Nigeria: 173,615,000'],
        ['Bangladesh', 'Bangladesh: 152,518,015'],
        ['Russia', 'Russia: 146,019,512'],
        ['Japan', 'Japan: 127,120,000']
      ]);
      var options = { showTip: true };
      var map = new google.visualization.Map(document.getElementById('chart_div'));
      map.draw(data, options);
    };